@charset "utf-8";
/* CSS Document */

html { overflow: -moz-scrollbars-vertical !important; }

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e81c3a;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight:normal;
	color: #c5020b;
	text-align: left;
	text-decoration:none;
}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight:normal;
	color: #c5020b;
	text-align: left;
	text-decoration:underline;
}


.homeLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #c5020b;
	line-height: 22px;
	text-align: center;
}

.homeLinks a, a:hover {
	text-decoration:none;
}

hr {
	border: none 0;
	border-top: 1px solid #c72426;
	width: 100%;
	text-align: center;
	height: 1px;

}

.inputBox {  
  background-color: #fff;  
  padding: 3px;
  border: 1px solid #abadb3;
} 


/* Fonts */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #c5020b;
	line-height: 22px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #c5020b;
	line-height: 18px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #c5020b;
	line-height: 14px;
}

.bodytextTight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 18px;
}

.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 22px;
}

.bodytextBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	line-height: 22px;
}

.tinytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
}

.special1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #c5020b;
}

.special2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color:#c5020b;
	
}







#headerTop {
	background-color: #e81c3a;
	width: 100%;
	height: 218px;
	margin: 0;
	padding: 0;
	float: left;
}

#headerMasthead {
	background-image:url(images/headerTop.png);
	background-repeat:no-repeat;
	background-position:bottom;
	width: 1096px;
	height: 186px;
	margin: 32px auto 0 auto;
}

#social {
	margin: 52px 10px 0 755px;
	float: left;

}

#headerNav {

	width: 1024px;
	height: 72px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	
	
}

#headerNavBtns {
	background-image:url(images/nav_bg.gif);
	background-repeat:repeat-x;
	width: 1024px;
	height: 72px;
	margin: 0 auto 0 auto;
	padding: 12px 0 0 0;
	float:left;
}

#navShadow {
	background-image:url(images/nav_bottomShadow.png);
	background-repeat:repeat-x;
	background-position:top;
	width: 100%;
	height: 10px;
	margin: 0 auto;
	padding: 0 0 0 0;
	float: left;
}

#navShadowBg {
	background-image:url(images/nav_bottom_MiddleShadow.png);
	background-repeat:no-repeat;
	background-position:top;
	width: 1068px;
	height: 10px;
	margin: 0 auto;
	padding: 0 0 0 0;
	clear:both;
}




#mainWrapper {
	background-image:url(images/main_bg.png);
	background-repeat:repeat-y;
	background-position:top center;
	width: 100%;
	height: 100%;
	padding: 0;
	
}

#subWrapper {

	width: 1068px;
	height:100%;
	margin: 5px auto 0 auto;
	padding: 0 0 20px 0;
}

#leftColumn {
	width:586px;
	margin: 5px 10px 10px 62px;
	float:left;
}


#homeSlideshow {
	width: 586px;
	height:390px;
	float:left;
	margin: 10px 0 0 0;
	border: 1px solid #000000;
	background-color:#CCCCCC;
	overflow:hidden;
	
}

.slide {
	width:586px;
	height:390px;
	
}

#homeSonostream {
	width: 586px;
	height:217px;
	background-image:url(images/home_sonostream.jpg);
	background-repeat:no-repeat;
	float:left;
	margin: 5px 0 8px 0;
	padding-bottom:17px;
	border-bottom: 1px solid #c72426;
}

.sonostreamBtn {
	margin: 163px 0 0 45px;
}

#medicalOversight {
	width: 586px;
	height:162px;
	background-image:url(images/MO_seal.gif);
	background-repeat:no-repeat;
	float:left;
	margin: 0;
}

#MO_text {
	width: 421px;
	height:162px;
	float:left;
	margin: 15px 0 0 165px;
}



#callJulie {
	width: 586px;
	height:157px;
	background-image:url(images/calljulie.gif);
	background-repeat:no-repeat;
	float:left;
	margin: -1px 0 0 0;
}






#rightColumn {
	width:351px;
	float:left;
	margin: 5px 0 10px 0;

}

#homeSpecial {
	width:351px;
	height:392px;
	margin: 10px 0 10px 0;
}

#homeVideoRight {
	margin: 0;
}

#homeOnlineSpecials {
	width:351px;
	height:312px;
	margin: -5px 0 5px 0;
	background-image:url(images/onlinespecials.gif);
	background-repeat:no-repeat;
	float:left;
}

#specialsSignup {
	width:341px;
	height:302px;
	margin: 45px 0 0 15px;
	float:left;
}










#subContent {
	width:948px;
	height:100%;
	clear:both;
	padding: 0;
	margin: 10px auto 5px auto;
	
} 

#homeTextContent {
	width:948px;
	height:100%;
	float:left;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #c72426;
} 


#viewGallery {
	width:316px;
	height:230px;
	padding: 0;
	margin: 10px 0 20px 0;
	float:left;
	text-align:center;
} 

#viewVideo {
	width:316px;
	height:230px;
	padding: 0;
	margin: 10px 0 20px 0;
	float: left;
	text-align:center;
} 

#pricingPackages {
	width:316px;
	height:230px;
	padding: 0;
	margin: 10px 0 20px 0;
	float: left;
	text-align:center;
} 



#asSeenin {
	width:948px;
	height:94px;
	margin: 10px auto 10px auto;
	background-image:url(images/asseenin.gif);
	background-repeat:no-repeat;
	background-position:bottom center;
	float:left;
	padding: 10px 0 0 0;
	border-top: 1px solid #c72426;
} 









#footerTop {
	width: 1024px;
	height: 34px;
	background-color:#444343;
	clear:both;
	margin: 20px auto 0 auto;
}

#footer {
	width: 1024px;
	height: 174px;
	background-color:#f15e5d;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	
	text-align:center;
}



