<span class="style15">
  <%= link_to_unless_current "INDEX", :action => "index", :id => @current.id %>&nbsp;|&nbsp;
  <%= link_to_unless_current "EDIT PROFILE (#{@current.name})", :action => "edit_profile", :id => @current.id %>&nbsp;|&nbsp;
  <%= link_to_unless_current "LOGOUT (#{@current.email})", :action => "logout", :id => @current.id %> 
</span>
