<table>
	<tr>
		<td align="left"><span class="style2">Name: </span></td>
		<td><%= text_field "affiliate", "name", :size => 40, :maxlength => "80" %></td>
	</tr>
	<tr>
		<td align="left"><span class="style2">Email: </span></td>
		<td><%= text_field "affiliate", "email", :size => 40, :maxlength => "128" %></td>
	</tr>
	<tr>
		<td align="left"><span class="style2">Password: </span></td>
		<td><%= password_field "affiliate", "password", :size => 40, :maxlength => "20" %></td>
	</tr>
	<tr>
		<td align="left">&nbsp;</td>
		<td><input type="submit" name="Submit2" value="Submit" /></td>
	</tr>
</table>
<p />