<p>
  <span class="style13"><%= @title %></span>
  <span class="style2"><%= link_to "(Show All Affiliates)", :action => "all_appointments" if params[:id] and @current.is_admin == 1 and !@disable_show_all_link %></span>
</p>

<span class="style2">
	<%= will_paginate @appointments %> 
</span>

<% unless @appointments == nil or @appointments.size == 0  %>
<table width="100%" class="userTable" border="0" cellspacing="0" cellpadding="2">  
	<tr>
	  <% if @current.is_admin == 1 %>
		<td class="userTableHeader" width="20%">Affiliate</td>
		<% end %>
		<td class="userTableHeader" width="25%">Date</td>
		<td class="userTableHeader" width="9%">Confirmed</td>
		<td class="userTableHeader" width="7%">Invites</td>  
		<td class="userTableHeader" width="9%">Purchases</td>
		<td class="userTableHeader" width="7%">Views</td>
		<td class="userTableHeader" width="12%">Token</td>
		<td class="userTableHeader" width="20%">Purchase</td>
		<td class="userTableHeader" width="8%">Action</td>
	</tr>
	<%
	odd_or_even = 0 
	for apt in @appointments
		odd_or_even = 1 - odd_or_even  
	%>
	<tr class="userTableRow<%= odd_or_even %>">
	  <% if @current.is_admin == 1 %>
		<td class="userTableData">
			<% if apt.user && apt.user.affiliate %>
				<%= link_to apt.user.affiliate.name, :action => "appointments", :id => apt.user.affiliate.id %>
			<% else %>
			   (No affiliate found)
			<% end %>
		</td>
    <% end %>
		<td class="userTableData">
		  <%= "#{apt.date} #{apt.start_time} #{apt.time_zone}" %>
		</td>
		<td class="userTableData"><%= (apt.confirmed_on == nil) ? "No" : "Yes" %></td>
		<td class="userTableData"><%= apt.purchases.size %></td>
		<td class="userTableData"><%= apt.purchases.reject { |p| p.purchased_on == nil }.size %></td>
		<td class="userTableData"><%= apt.views.count %></td>
		<td class="userTableData"><%= h apt.token %></td>
		<td class="userTableData">
			<% if apt.purchase_for_by_affiliate_id(apt.user.affiliate.id).present? %>
<%= "Purchased by #{@current.is_admin == 1 ? 'affiliate' : 'you'}" %>
<% elsif apt.purchase_for_by_user.present? %>
Purchased by user
<% else %>
<%= @current.is_admin == 1 ? "Not yet" : link_to ("Mark Paid", {:action => "purchase", :apt_id => apt.id}, {:confirm => 'Are you sure?'}) %>
 <% end %>
		</td>
		<td class="userTableData"><%= link_to "View", :action => "appointment", :id => apt.id %></td>
	</tr>            
	<% end %>
</table>
<% else %>
No users found. 
<% end %>
