
<% @title = (@current.is_admin == 1) ? "Results - All Affiliates" : "Results - #{@current.name}" %>
<% if @appointments and !@appointments.empty? %>
  <%= render :partial => "appointments" %>
<% else %>
  No matching appointments found.
<% end %>