<p>
  <span class="style13"><%= @title %></span>
  <span class="style2"><%= link_to "(Show All Purchases)", :action => "all_purchases" if params[:id] and @current.is_admin == 1 %></span>
</p>

<span class="style2">
	<%= will_paginate @purchases %>
</span>

<% unless @purchases == nil or @purchases.size == 0  %>
<table width="100%" class="userTable" border="0" cellspacing="0" cellpadding="2">  
	<tr>
	  <% if @current.is_admin == 1 %>
		<td class="userTableHeader" width="20%">Affiliate</td>
		<% end %>
		<td class="userTableHeader" width="40%">Appointment</td>
		<td class="userTableHeader" width="12%">Purchased On</td>
		<td class="userTableHeader" width="8%">Price</td>  
		<td class="userTableHeader" width="8%">Views</td>  
		<td class="userTableHeader" width="12%">Action</td>  
	</tr>
	<%
	odd_or_even = 0 
	for purchase in @purchases  #  the purchase loop!
		odd_or_even = 1 - odd_or_even  
	%>
	<tr class="userTableRow<%= odd_or_even %>">
	  <% if @current.is_admin == 1 %>
		<td class="userTableData"><%= link_to purchase.appointment.user.affiliate.name, :action => "purchases", :id => purchase.appointment.user.affiliate.id %></td>
    <% end %>
		<td class="userTableData">
	  <%= link_to "#{purchase.appointment.date} #{purchase.appointment.start_time} #{purchase.appointment.time_zone} (#{purchase.appointment.user.email})", :action => "appointment", :id => purchase.appointment.id %>
		</td>
		<td class="userTableData"><%= purchase.purchase_date %></td>
		<td class="userTableData"><%= purchase.price %></td>
		<td class="userTableData"><%= purchase.views.count %></td>
		<td class="userTableData"><%= link_to "Show Purchase", :action => 'view_purchase', :id => purchase.id %></td>
	</tr>            
	<% end %>
</table>
<% else %>
No purchases found. 
<% end %>