
<br />
<h5>Views (<%= views.size %>)</h5>

<% unless views.empty? %>
<% sorted_views = views %>

  <table width="100%" class="userTable" border="0" cellspacing="0" cellpadding="2">  
    <tr>
  		<td class="userTableHeader" width="40%">When</td>
  		<td class="userTableHeader" width="20%">From</td>
  		<td class="userTableHeader" width="10%">Type</td>
  		<td class="userTableHeader" width="30%">Who</td>
    </tr>
    <%
  	odd_or_even = 0 
  	for view in sorted_views
  		odd_or_even = 1 - odd_or_even  
  	%>
    	<tr class="userTableRow<%= odd_or_even %>">
        <td class="userTableData"><%= view.view_date %></td>
        <td class="userTableData"><%= view.ip_address %></td>
        <td class="userTableData"><%= view.type.capitalize %></td>
        <td class="userTableData"><a href="mailto:<%= view.purchase.friend.nil? ? view.purchase.user.email : view.purchase.friend.email %>"><%= view.purchase.friend.nil? ? view.purchase.user.email : view.purchase.friend.email %></a></td>
    	</tr>
    <% end %>
  </table>

<% end %>
