<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">Create Appointment</span></p>

<% form_tag :action => "create_appointment" do %>
  <% if @appointment.errors.any? %>
    <% @appointment.errors.each do |attr, msg| %> 
      <%= "#{attr.capitalize} #{msg}" %> <br/>
    <% end %>
  <% end %>
  <table>
    <% if @current.is_admin == 1 %>
    <tr>
      <td align="left"><span class="style2">Affiliate: </span></td>
      <td><%= select "mommy", "affiliate", Affiliate.all.collect {|a| [a.name, a.id]} %></td>
    </tr>
    <% end %>
    <tr>
      <td align="left"><span class="style2">First Name:</span> </td>
      <td><%= text_field "mommy", "first_name", :size => 40, :maxlength => "80", :style => "margin-bottom:-5px;margin-top:10px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2">Last Name:</span></td>
      <td><%= text_field "mommy", "last_name", :size => 40, :maxlength => "80", :style => "margin-bottom:-5px; margin-top:10px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2"> Email: </span></td>
      <td><%= text_field "mommy", "email", :size => 40, :maxlength => "128", :style => "margin-bottom:-5px; margin-top:10px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2">Date: </span></td>
      <td><%= date_select "appointment", "date", {:order => [:month, :day, :year]}, :style => "width:121px;margin-top:10px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2">Start Time: </span></td>
      <td><%= select "appointment", "start_time", @time_array.each {|t| [t, t]}, {},:style => "width:100px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2">End Time: </span></td>
      <td><%= select "appointment", "end_time", @time_array.each {|t| [t, t]}, {},:style => "width:100px;" %></td>
    </tr>
    <tr>
      <td align="left"><span class="style2">Time Zone: </span></td>
      <td><%= select "appointment", "time_zone", ["EST", "EDT", "CST", "CDT", "MST", "MDT", "PST", "PDT"].each {|t| [t, t]}, {},:style => "width:100px;" %></td>
    </tr>
    <tr>
      <td align="left">Token: </td>
      <td><%= text_field "appointment", "token", :size => 40, :maxlength => "80", :style => "margin-bottom:-5px;margin-top:10px;" %></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
      <td><input type="submit" name="Submit2" value="Submit"  style="margin-top:10px;"/></td>
    </tr>
  </table>
  <p />

<% end %>
<script type="text/javascript">
<!--
  
    
  $(document).ready(function(){
    var now = new Date().toString();
    var TZ = now.indexOf('(') > -1 ?
    now.match(/\([^\)]+\)/)[0].match(/[A-Z]/g).join('') :
    now.match(/[A-Z]{3,4}/)[0];
    if (TZ == "GMT" && /(GMT\W*\d{4})/.test(now)) TZ = RegExp.$1
    
    document.getElementById('appointment_time_zone').value = TZ
  });
-->
</script>