<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">View Affiliates</span></p>

<span class="style2">
	<%= will_paginate @affiliates %>
</span>

<% unless @affiliates == nil or @affiliates.size == 0  %>
<table width="100%" class="userTable" border="0" cellspacing="0" cellpadding="2">  
	<tr>
		<td class="userTableHeader" width="30%">Name</td>
		<td class="userTableHeader" width="30%">Email</td>
		<td class="userTableHeader" width="10%">Password</td>
		<td class="userTableHeader" width="5%">Mark Paid</td>
		<td class="userTableHeader" width="25%">Actions</td>  
	</tr>
	<%
	odd_or_even = 0 
	for affiliate in @affiliates
		odd_or_even = 1 - odd_or_even  
	%>
	<tr class="userTableRow<%= odd_or_even %>">
		<td class="userTableData"><%= link_to affiliate.name, :action => "affiliate", :id => affiliate.id %></td>
		<td class="userTableData"><%= affiliate.email %></td>
		<td class="userTableData"><%= affiliate.password %></td>
		<td class="userTableData"><%= Purchase.find(:all, :conditions => {:affiliate_id => affiliate.id}).size %></td>
		<td class="userTableData">
		  <%= link_to "View", :action => "affiliate", :id => affiliate.id %>&nbsp;|&nbsp;
		  <%= link_to "Edit", :action => "edit_profile", :id => affiliate.id %>&nbsp;|&nbsp;
		  <%= link_to "Appointments", :action => "appointments", :id => affiliate.id %> 
		</td>
	</tr>            
	<% end %>
</table>
<% else %>
	No users found. 
<% end %>      
