<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13"><%= @affiliate.name %></span></p>

<table>
	<tr>
		<td width="30%" align="left"><span class="style2"><b>Name: </b></span></td>
		<td><span class="style2"><%= @affiliate.name %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Email: </b></span></td>
		<td><span class="style2"><%= @affiliate.email %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Password: </b></span></td>
		<td><span class="style2"><%= @affiliate.password %></span></td>
	</tr>
</table>

<p><span class="style2"><%= link_to "Edit Profile", :action => "edit_profile", :id => @affiliate.id %></span>
</p>