<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">View Appointment, <%= @appointment.user.full_name %></span></p>

<table>
	<tr>
		<td width="25%" align="left"><span class="style2"><b>Affiliate: </b></span></td>
		<td><span class="style2"><%= link_to @appointment.user.affiliate.name, :action => "affiliate", :id => @appointment.user.affiliate.id %></span></td>
	</tr>
	<tr>
		<td width="25%" align="left"><span class="style2"><b>Mother: </b></span></td>
		<td>
		  <span class="style2"><%= @appointment.user.full_name %> (<a href="mailto:<%= @appointment.user.email %>"><%= @appointment.user.email %></a>)</span>
		  <span class="style2">(<%= link_to "Edit", :action => "edit_user_email", :id => @appointment.id %>)&nbsp;</span>
		  <span class="style2">(<%= link_to "Resend Invitation", {:action => "resend_invitation", :id => @appointment.id}, {:confirm => "Do you want to resend the invitation email?"} %>)&nbsp;</span>
		</td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Date: </b></span></td>
		<td><span class="style2"><%= @appointment.start_time_t %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Occured?: </b></span></td>
		<td><span class="style2"><%= (@appointment.past?) ? "Yes" : "No" %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Token: </b></span></td>
		<td><span class="style2"><%= @appointment.token %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Confirmed: </b></span></td>
		<td><span class="style2"><%= @appointment.confirmed_on || "No" %></span></td>
	</tr>
	<tr>
		<td align="left"><span class="style2"><b>Media: </b></span></td>
		<td><span class="style2">
		<% if @appointment.archive_exists? %>
		  <%= link_to "View Archive (Web)", :action => "view_archive", :id => @appointment.id %> <br />
      <a href="<%= @appointment.archive_url('iphone') %>">View Archive (iPhone)</a> <br />
      <a href="<%= @appointment.archive_url('android') %>">View Archive (Android)</a><br />
    <% else %>
		  Not present
		<% end %>
	</tr>
</table>         

<br />

<h5>Invites (<%= @appointment.friends.size %>)</h5>
<table>
<% @appointment.friends.each do |friend| %>
  <tr>
    <td>
    	<span class="style2"><%= friend.email %></span>
      <% purchase = @appointment.purchase_for_by_friend(friend) %>
      <%= link_to " (Purchased on #{purchase.purchase_date} for #{purchase.price}) ", :action => "view_purchase", :id => purchase.id  if purchase and purchase.purchased? %>
    </td>
  </tr>
<% end %>
</table>

<%= render :partial => "views", :object => @appointment.views %>

