<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">Create Affiliate</span></p>

<% form_tag :action => "create_affiliate" do %>
<%= error_messages_for "affiliate" %>

  <%= render :partial => 'affiliate' %>

<% end %>

