
<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>

<p><span class="style13">Edit profile, <%= @affiliate.name %> </span></p>
<p />
<% form_tag :action => "update_profile", :id => @affiliate.id do %>
<%= error_messages_for "affiliate" %>

  <%= render :partial => 'affiliate' %>

<% end -%>
<span class="style2">
<a href="javascript:history.back()" >Cancel</a>
</span>
<br />


     
