
<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>

<p><span class="style13">Edit Mom's Email </span></p>
<p><span class="style2">This will change a user's login. Please resend the invitation email if needed.</span></p>
<% form_tag :action => "edit_user_email", :id => @appointment.id do %>
<%= error_messages_for "user" %>

<table>
	<tr>
		<td align="left"><span class="style2">Email: </span></td>
		<td><%= text_field "user", "email", :size => 40, :maxlength => "128" %></td>
	</tr>
	<tr>
		<td align="left">&nbsp;</td>
		<td><input type="submit" name="Submit2" value="Submit" /></td>
	</tr>
</table>
<p />

<% end %>
<span class="style2">
<a href="javascript:history.back()" >Cancel</a>
</span>
<br />


     
