<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>

<% # render the results of the search if we are searching %>
<% if @affiliates %>
  <% title = (params[:purchase][:affiliate] == '') ? "Results - All Affiliates (#{@from_date} - #{@to_date})" : "Results - #{@affiliates.first.name} (#{@from_date} - #{@to_date})" %>
  <p><span class="style13"><%= title %></span></p>
  <table>
  	<tr>
  		<td class="userTableHeader" width="45%"> Affiliate </td>
  		<td class="userTableHeader" width="15%"> Mark Paid Count </td>
  		<td class="userTableHeader" width="40%"> Appointment Tokens </td>
  	</tr>
  	<% @affiliates.each do |affiliate| %>
  	<tr>
  		<td> 
  			<%= affiliate.name %> 
  			<% purchases = affiliate.purchases.find(:all, :conditions => ["purchased_on >= '#{@from_date}' AND purchased_on <= '#{@to_date} 23:59:59'"]) %> 
  		</td>
  		<td> <%= purchases.size %> </td>
  		<td> <%= purchases.map { |p| p.appointment.token}.join(', ') %> </td>
  	</tr>
  	<% end %>
  </table>
  <p>&nbsp;</p>
<% else %>
	<% # display the forms used for searching %>
	<% title = "Find Affiliates Paid" %>
	<p><span class="style13"><%= title %></span></p>
	<table cellspacing="5">
	  <% form_tag :action => "find_affiliates_paid" do %>
	  <tr>
	    <td align="left"><span class="style2">Affiliate: </span></td>
	    <td><%= select "purchase", "affiliate", Affiliate.all.collect {|a| [a.name, a.id]}, :prompt => true %></td>
	  </tr>
	  <tr>
	    <td class="style2">From:</td>
	    <td>
	      <%= date_select "purchase", "from", {:order => [:month, :day, :year]}, :style => "width:121px;" %>
	    </td>
	  </tr>
	  <tr>
	    <td class="style2">To:</td>
	    <td>
	      <%= date_select "purchase", "to", {:order => [:month, :day, :year]}, :default => 7.days.from_now, :style => "width:121px;" %>
	    </td>
	  </tr>
	  <tr>
	    <td>&nbsp;</td>
	    <td><input type="submit" name="Submit1" value="Find" /></td>
	  </tr>
	  <% end %>
	</table>  
<% end %>