<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>

<% # render the results of the search if we are searching %>
<% if @appointments and !@appointments.empty? %>
  <% @title = (@current.is_admin == 1) ? "Results - All Affiliates" : "Results - #{@current.name}" %>
  <% @disable_show_all_link = true %>
  <%= render :partial => "appointments" %>
  <p>&nbsp;</p>
<% end %>

<% # display the forms used for searching %>
<% title = (@current.is_admin == 1) ? "Find Appointment - All Affiliates" : "Find Appointment - #{@current.name}" %>
<p><span class="style13"><%= title %></span></p>
<table cellspacing="5">
  <% form_tag :action => "find_appointment", :by => "email"  do %>
  <tr>
    <td class="style2"></td>
    <td><%= text_field "user", "email", :size => 40, :maxlength => "128" %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit1" value="Find by email" /></td>
  </tr>
  <% end %>
  <tr><td>&nbsp;</td></tr>

  <% form_tag :action => "find_appointment", :by => "token" do %>
  <tr>
    <td class="style2"></td>
    <td><%= text_field "appointment", "token", :size => 40, :maxlength => "40" %></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit1" value="Find by token" /></td>
  </tr>
  <% end %>
  <tr><td>&nbsp;</td></tr>

  <% form_tag :action => "find_appointment", :by => "date" do %>
  <tr>
    <td class="style2"></td>
    <td>
      <%= select_date(Time.now, :order => [:month, :day, :year]) %>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit1" value="Find by date" /></td>
  </tr>
  <% end %>
</table>  
