<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<% title = (@current.is_admin == 1) ? "Sonostream Live Server" : @current.name %>
<p><span class="style13">Administration - <%= title %> </span></p>
<p class="style2">Please select one of the options below.<br /></p>
<% if @current.is_admin == 1 %>
<p class="style2"><%= link_to "View All Appointments", :action => "all_appointments" %> (<%= Appointment.count %>)<br /></p>
<p class="style2"><%= link_to "View All Purchases", :action => "all_purchases" %> (<%= Purchase.all_purchased.size %>)<br /></p>
<% else %>
<p class="style2"><%= link_to "View My Appointments", :action => "appointments", :id => @current.id %> (<%= @current.appointments(true).count %>)<br /></p>
<p class="style2"><%= link_to "View My Purchases", :action => "purchases", :id => @current.id %> (<%= @current.purchased.size %>)<br /></p>
<% end %>
<% if @current.is_admin == 1 %>
<p class="style2"><%= link_to "View Affiliates", :action => "affiliates" %> (<%= Affiliate.count %>)<br /></p>
<p class="style2"><%= link_to "Create Affiliate", :action => "create_affiliate" %><br /></p>
<p class="style2"><%= link_to "Find Affiliates Paid", :action => "find_affiliates_paid", :id => @current.id %><br /></p>
<% end %>
<p class="style2"><%= link_to "Add Appointment", :action => "add_appointment", :id => @current.id %><br /></p>
<p class="style2"><%= link_to "Find Appointment", :action => "find_appointment", :id => @current.id %><br /></p>
<% if false %>
<p class="style2"><a href="#">Create appointment</a> (Not implemented)<br /></p>
<% end %>
