<img src="/images/admin.gif" width="673" height="62" /><span class="style11">Profile Login</span><br />
<span class="style2">Please login with the email and password you were assigned. </span>

<% form_tag :action  => :login  do %> 
<p class="style12">email address<br />
<%= text_field("login", "email", :value => @address) %>
</p>

<p class="style12">password<br />
<%= password_field("login", "password") %></p>

<p><%= submit_tag("Login") %><br /></p>
<% end %>  

<p />

<p><span class="style12"><span class="style18">Forgot your password?</span><br /></span> <span class="style2 style15">Please click <%= link_to "this link", :action => "forgot_password" %>, fill out your email address, and your password will be emailed to you immediately.</span></span></p>
