<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">View Purchase</span></p>

<table>
	<tr>
		<td align="left" width="30%"><span class="style2"><b>Appointment: </b></span></td>
		<td><span class="style2"><%= link_to "#{@purchase.appointment.user.full_name} @ #{@purchase.appointment.full_time}", :action => "appointment", :id => @purchase.appointment.id %></span></td>
	</tr>
	<tr>
		<td align="left" width="30%"><span class="style2"><b>Purchased by: </b></span></td>
		<td><span class="style2"><%= @purchase.friend.nil? ? @purchase.user.email : @purchase.friend.email %></span></td>
	</tr>
	<tr>
		<td width="30%" align="left"><span class="style2"><b>Purchased on: </b></span></td>
		<td><span class="style2"><%= @purchase.purchased_on %></span></td>
	</tr>
	<tr>
		<td width="30%" align="left"><span class="style2"><b>Price: </b></span></td>
		<td><span class="style2">$<%= @purchase.price %></span></td>
	</tr>
	<tr>
		<td width="30%" align="left"><span class="style2"><b>Token: </b></span></td>
		<td><span class="style2"><%= @purchase.appointment.token %></span></td>
	</tr>
</table>
<p>
  <span class="style2">
    <a href="javascript:history.back()" >Back</a>
  </span>
<p/>  

<% if @current.is_admin == 1 %>
<p><span class="style13">Remove Purchase</span></p>
<% form_tag :action => "remove_purchase", :id => @purchase.id do %>
<span class="style2">This button will forceably remove this purchase from the database.</span>
<p><%= submit_tag("Remove purchase") %></p>
<% end %>
<% end %>                            

<%= render :partial => "views", :object => @purchase.views %>

<br />

