<!-- <script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script> -->
<img src="/images/admin.gif" width="673" height="62" />
<%= render :partial => "admin_menu" %>
<p><span class="style13">View Archive, <%= @appointment.user.full_name %></span></p>
<p>
<span class="style2">
This viewing of the stream will not be logged.
</span>
</p>
<!--<div id="playerElement" style="width:100%; height:0; padding:0 0 75% 0"></div>
<script type="text/javascript">
WowzaPlayer.create('playerElement',
    {
    "license":"PLAY1-j9MnQ-ynycD-TTczH-Rd9ez-WnDPY",
    "title":"",
    "description":"",
    "sourceURL":"<%= @appointment.archive_url('iphone') %>",
    "autoPlay":false,
    "volume":"75",
    "mute":false,
    "loop":false,
    "audioOnly":false,
    "uiShowQuickRewind":true,
    "uiQuickRewindSeconds":"30"
    }
);
</script>
-->

<div id='myElement' style="width:100%; height:0; padding:0 0 75% 0"></div>
<script type="text/javascript">
jwplayer("myElement").setup({
    playlist: [{
        sources: [{ 
            file: "<%= @appointment.archive_url('web') %>"
        },{
            file: "<%= @appointment.archive_url('iphone') %>"
        }]
    }],
    height: 360,
    primary: "html5",
    width: 640
});
</script> 

<p />
<span class="style2">
<a href="javascript:history.back()" >Back</a>
</span>
<br />