.userTable {
	border: 1px solid #666666;
}

.userTableHeader {
	font-size: 10px;
	font-family : Verdana;
	font-weight: bold;  
	background-color: #edebec
}              

.userTableRow0 {
	background-color: #edebec;
	font-size: 10px;
	font-family : Verdana;
	margin:10px 0 10px 0;
}

.userTableRow1 {
	font-size: 10px;
	font-family : Verdana;
	margin:10px 0 10px 0;
}