/* CSS Document */

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #FDFCF0;
}
a:link {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #203F6E;
  text-decoration: underline;
}
a:visited {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #203F6E;
  text-decoration: underline;
}
a:hover {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a:active {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.purplenav:link {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #822861;
  text-decoration: underline;
}
a.purplenav:visited {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #822861;
  text-decoration: underline;
}
a.purplenav:hover {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.purplenav:active {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.blacknav:link {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.blacknav:visited {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.blacknav:hover {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
a.blacknav:active {
  font-family: Arial, Verdana, Tahoma, Tahoma, Helvetica, "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
.style2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.style3 {
  font-size: 11px;
  font-weight: bold;
}
.style4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.style5 {
  font-size: 11px;
  color: #333333;
}
.style7 {
  font-size: 12px;
  font-weight: bold;
}
.style9  {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #264573; }
.style10 {color: #333333}  
.style11 {font-size: 16px; color: #822861; font-weight: bold; }
.style12 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.style13 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #822861; font-weight: bold; }
.style14 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #822861; font-weight: bold; }.style15 {font-size: 11px}
.style15 {font-size: 11px}
.style18 {font-size: 11px; color: #114B6B; }
.style19 {font-size: 9px}
.style20 {color: #990000; font-weight: bold; }
.style21 {color: #822861; font-size: 14px; }
.style22 {color: #822861; font-weight: bold; }
.style23 {font-size: 14px}
.style24 {color: #FF0000; font-size: 14px; }
.style25 {color: #006600; font-size: 14px; }        
.style26 {font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
.style27 {color: #114B6B }
                                              



