/*
Skin Name: Nivo Slider 456Theme
*/

.theme-456theme .nivoSlider {
	background:#fafafa url(loading.gif) no-repeat 50% 50%;
    z-index: 1;
}
.theme-456theme .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-456theme .nivoSlider a {
	border:0;
	display:block;
}
.theme-456theme .nivo-controlNav{
    position: absolute;
    right: 38px;
    bottom: 0;
    background: url(456themeskin.png) 0 -78px;
    padding: 0 4px;
    z-index: 9;
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.15);
	box-shadow:  0 0 15px rgba(0,0,0,0.15);
}
.theme-456theme .nivo-controlNav:before,
.theme-456theme .nivo-controlNav:after{
    position: absolute;
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    right: -18px;
    top: 0;
    background: url(456themeskin.png) -18px -60px;
}
.theme-456theme .nivo-controlNav:before{
    left: -18px;
    background-position: 0 -60px;
}
.theme-456theme .nivo-controlNav {
	text-align: center;
}
.theme-456theme .nivo-controlNav a {
	display:inline-block;
	width:16px;
	height:18px;
	background:url(456themeskin.png) -38px 0 no-repeat;
	text-indent:-9999px;
	border:0;
    opacity: .75; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=75); /* IE6-IE8 */
}
.theme-456theme .nivo-controlNav a.active {
	background-position: -38px -18px;
}
.theme-456theme .nivo-controlNav a:hover{
    opacity: 1; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
    filter: alpha(opacity=100); /* IE6-IE8 */
}
.theme-456theme .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-456theme:hover .nivo-directionNav a { opacity: 1; }
.theme-456theme a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-456theme a.nivo-prevNav {
	left:15px;
}
.theme-456theme .nivo-caption{
    color: #fafafa;
	top: 0;
	width: 300px;
	padding: 36px 30px;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	background:url(nivo-caption.png);
}
.theme-456theme .nivo-caption h6,
.theme-456theme .nivo-caption h5,
.theme-456theme .nivo-caption h4,
.theme-456theme .nivo-caption h3,
.theme-456theme .nivo-caption h2,
.theme-456theme .nivo-caption h1,
.theme-456theme .nivo-caption strong{
    color: #fff;
}
.theme-456theme .nivo-caption h6,
.theme-456theme .nivo-caption h5,
.theme-456theme .nivo-caption h4,
.theme-456theme .nivo-caption h3,
.theme-456theme .nivo-caption h2,
.theme-456theme .nivo-caption h1{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}
.theme-456theme .nivo-caption p{
    padding: 0;
    margin-bottom: 18px;
}
.theme-456theme .nivo-caption a.button{
    display: inline-block !important;
}
.theme-456theme .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-456theme .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-456theme .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}