<style type="text/css">
  span.apt {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  span.apt.canceled {
    font-style: italic;   
  }
  span.apt.purchased {
    font-weight: bold
  }
  span.apt.today {
    font-weight: bold;
  }
</style>

<p>&nbsp;<br /> </p>
<p class="style2">&nbsp;<br />
  <span class="style11">Current Sonostream Appointment List</span><br />  
  <br />
                   
  <% @friend.appointments.each do |apt| %>
    <% link_text = apt.full_time %>
    <%= h apt.user.full_name %>'s Sonostream:&nbsp;&nbsp;<%= link_to_unless_current link_text, :action => "welcome", :id => @friend.id, :apt_id => apt.id %>
    <% if @friend.purchase_for(apt).purchased? %>
      <span class='apt purchased'>Purchased.</span>
    <% else %>
      <span class='apt not_purchased'>Not Purchased.</span>
    <% end %>       
    <% if apt.cancelled == 1 %>
      <span class='apt canceled'>Canceled.</span>
    <% elsif apt.today? %>
      <span class='apt today'>Today!</span>
    <% end %>
    <br />
  <% end %>

  <br />
  </p>