<span class="style15">
  <%= link_to_unless_current "MAIN PAGE", :action => "index", :id => @friend.id %>&nbsp;|&nbsp;
  <%= link_to_unless_current "LOGOUT (#{@friend.email})", :action => "logout", :id => @friend.id %> 
</span>
