<%
  
  if @live
    web_url = @apt.live_url('web')
    iphone_url = @apt.live_url('iphone')
  else
    web_url = @apt.archive_url('web')
    iphone_url = @apt.archive_url('iphone')
  end
%>
<div id='myElement'></div>
<script type="text/javascript">
jwplayer("myElement").setup({
    playlist: [{
        sources: [{ 
            file: "<%= web_url %>"
        },{
            file: "<%= iphone_url %>"
        }]
    }],
    height: 360,
    primary: "flash",
    width: 640
});
</script>