
<p><img src="/images/sonotheater.gif" width="673" height="62" /> 
<%= render :partial => "friend_menu" %></p>

<p><span class="style13">About to view.</span></p>

<p class="style2">The Sonostream ultrasound for <%= @apt.user.full_name %> has <i>started</i>!</p>
<p class="style2">We have detected the SonostreamLive video, and it's ready to view, in a minute or two.</p>

<p class="style2">Wait a minute, and hit the <%= link_to "refresh", :action => "view", :id => @friend.id, :apt_id => @apt.id %> periodically until the appointment starts.
  The appointment was scheduled to start at <%= @apt.full_time %></p>
  
  <p align="center" class="style12">
  	<input type="submit" name="Submit" value="Refresh the page"  onclick="MM_goToURL('parent','/friend/view/<%= @friend.id %>/<%= @apt.id %>');return document.MM_returnValue"/></p>


<p class="style2">If you do not catch the Sonostream LIVE broadcast, you can always watch the video later at your convenience.</p>
