
  <p><img src="/images/sonotheater.gif" width="673" height="62" /> 
  <%= render :partial => "friend_menu" %></p>

  <p class='style2'><span class="style11">About to start</span></p>

  <p class="style2">The Sonostream ultrasound for <%= @apt.user.full_name %> is scheduled to start; however, the Sonostreamlive video stream has not started yet.  It should start in a few minutes.</p>

  <p class="style2">Wait a few minutes, and <strong>refresh</strong> the page periodically until the appointment starts.
    The appointment was scheduled to start at <strong><%= @apt.full_time %>.</strong></p>

  <% url = "/friend/view/#{@friend.id}/#{@apt.id}?viewer=#{params[:viewer]}" %>

  <p align="center" class="style12">
 	  <input type="submit" name="Submit" value="Refresh the page"  
      onclick="MM_goToURL('parent','<%=url%>');return document.MM_returnValue"/>
 	</p>

  <p class="style2">If you do not catch the Sonostream LIVE broadcast, you can always watch the video later at your convenience.</p>
