
<p><IMG src="/images/sonotheater.gif" width="673" height="62" /><br />
<%= render :partial => "friend_menu" %>
</p>
<style>
 <!--
  .style11 {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	font-weight: bold;
  }
  -->
</style>

  <p class="style2"><img src="/images/sonostep3.gif" width="675" height="45" /><br />
  <span class="style11">Congratulations! You are confirmed for <%= @apt.user.full_name %>'s ultrasound on <%= @apt.date %> at <%= @apt.start_time %> (<%= @apt.time_zone %>)</span></p>

  <p class="style2">Your payment has been processed and the ultrasound appointment(s) you are registered for appear below. If you were invited to more than one Sonostream LIVE appointment, you will need to go through the payment process for each one that says &quot;Not Purchased&quot; below. If you see &quot;Purchased&quot; next to the person's name who invited you then you are all set! </p>
  <p class="style2">
    <% if @apt.early? %>
      <strong>You are a little early.  Remember, <%= @apt.user.full_name %>'s ultrasound will take place on <%= @apt.date %> at <%= @apt.start_time %> (<%= @apt.time_zone %>).</strong>
    <% else %>
      <%= render :partial => "launch" %>
    <% end %>
  </p>

  <%= render :partial => 'appointments' %>
  
  <p align="center" class="style26"><span class="style27">Please note that technology can sometimes have issues. Should the ultrasound stream not work for you, please contact<br />
    our support team for assistance. Even if a Live ultrasound stream is missed, you will still have unlimited access to the<br />
    archives and you'll be able to view the recorded stream at your leisure, on-demand. Refunds are only granted if<br />
    the entire ultrasound stream cannot be viewed  after working with our technical support team.</span><br /></p>                                                   


	<% # render :partial => "debug_params" %>

	

