<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

  <p><span class="style13">An Error has occured.</span></p>

<p class="style2">We are unable to display the Sonostream ultrasound.  This error has been reported to the Administrator!</p>
<p><span class="style13">What do you do now?</span><br /><p>
  <p class="style2">This error has been reported to the SonostreamLive administrator.  Someone will be contacting you about the charge your credit card.  Please don't hesitate to contact our billing support staff via email at <a href="mailto:billing@sonostreamlive.com">billing@sonostreamlive.com</a> or by telephone toll free in the United States at 1-877-502-4636.</p>
