
<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

	<p><span class="style13">Unable to purchase the SonostreamLive</span></p>
	
	<p class="style2">An error has occured when trying to purchase this video stream.  For technical reasons, the video for <%= @apt.user.full_name %>'s Sonostream was not saved on our servers.</p>

	<p class="style2">We apologize for any inconvenience.</p>
	
