
<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

	<p><span class="style13">Unable to purchase the SonostreamLive</span></p>
	
	<p class="style2">We are unable to process your purchase of this SonostreamLive.  The appointment was cancelled.</p>

	<p class="style2">We apologize for any inconvenience.</p>
	
