
<p><img src="/images/sonotheater.gif" width="673" height="62" /><br />
<%= render :partial => "friend_menu" %>
</p>

<span class="style19">&nbsp;</span><br />
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" width="50%"><p class="style2"><span class="style11">Check your browser compatability</span></p>
      <p class="style2">Sonostreamlive uses <a href="http://www.microsoft.com/windows/windowsmedia/download/" target="_blank">Microsoft Media Player</a> to display the video from the Ultrasound.</p>
      <p class="style2"><a href="http://www.microsoft.com/windows/windowsmedia/download/" target="_blank"><img src="http://sonostreamlive.com/images/windows.gif" width="88" height="31" border="0" /></a></p>
      <p class="style2">You should see and hear a sample video playing to your right. If you do not see this video playing, please download and install the  <a href="http://www.microsoft.com/windows/windowsmedia/download/" target="_blank">Microsoft Media Player.</a></p>
      <p class="style2"><a href="http://www.microsoft.com/windows/windowsmedia/download/" target="_blank">I do not see the video playing.</a></p>
      <p class="style2">                     
        <% # the :apt_id param means that we are testing for compatible browsers, in the midst of purchasing a stream %>
        <% if params[:apt_id] %>
          <%= link_to "I see and hear the video playing.", :action => "view", :id => @friend.id, :apt_id => @apt.id, :compatible => 1 %>
        <% else %>
          <%= link_to 'I see and hear the video playing.', :action => 'index', :id => @friend.id, :compatible => 1 %>
        <% end %>
      </p>
    </td>
    <td width="46%"><table width="100%" border="0" cellspacing="5">
      <tr>
        <td align="center" valign="top">

        <% @video_url = application_settings["site"]["url"] + "/testspot.wmv" %>
        <%= render :partial => "player" %>
          
        </td>
      </tr>
    </table></td>
  </tr>
</table>


	