
<p><img src="/images/sonotheater.gif" width="673" height="62" />
	</p>          

	<p><span class="style13">Your purchase</span></p>

	<p class="style2">Your purchase has been denied!  It had the following errors:<br /> 
    <ul>
	  <% @errors.each do |error| %>
      <li><span class="style2"><%= error %></span></li>
	  <% end %>
	  </ul>
	<br />
	
	</p>

  <p><br /></p>
	<p class="style2">Please select the button below if you wish to reenter the card information.<br /> 
	<p align="center" class="style12">
		<input type="submit" name="Submit" value="Go back to the purchase screen" onclick="MM_goToURL('parent','<%= @form_url %>');return document.MM_returnValue"/></p>
  	<p align="center" class="style12">
  		<input type="submit" name="Submit" value="Cancel" onclick="MM_goToURL('parent','/friend/welcome/<%= @friend.id %>/<%= @apt.id %>');return document.MM_returnValue"/>
  </p>

	<% # render :partial => "debug_params" %>
