
<p><img src="/images/sonotheater.gif" width="673" height="62" /><br />
<%= render :partial => "friend_menu" %>
</p>

<span class="style19">&nbsp;</span><br />
<span class="style11">Change your password</span>
  <br /><br />
  <% form_tag :action => "update_profile", :id => @friend.id do %>
  <%= error_messages_for "friend" %>
  <table>
    <tr>
      <td align="left"><span class="style2">Password: </span></td>
      <td><%= password_field "friend", "password", :size => 40, :maxlength => "20" %></td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
      <td><input type="submit" name="Submit2" value="Submit" /></td>
    </tr>
  </table>       
</span>

<% end %>

<br />
<span class="style2"><%= link_to "Cancel", :action => "index", :id => @friend.id %></span>
<br />
