<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

	<p><span class="style13">This Sonostream has expired</span></p>

<p class="style2"><%= @apt.user.first_name %>'s Sonostream at <b><%= @apt.full_time %></b> has expired.  It took place <%= @days_ago %> days ago.</p>
<p class="style2">This SonostreamLive can not be viewed or purchased.<br /></p>
