<img src="/images/sonotheater.gif" width="673" height="72" /><span class="style11">Forgot Password</span><br />
<span class="style2">Please enter your email address in the form below and click Submit.  Your password
	will be immediately mailed to you.</span>

<% form_tag :action => 'send_password' do %>
<p class="style12">email address<br />
<%= text_field("forgot", "email") %></p>

<p>
	<input id="mySubmit" type="submit" name="Submit" value="Submit" onClick='document.getElementById("mySubmit").value="Submitting.  Please wait..."'/> 
	<br /></p>
<% end %>