<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          
        <p><span class="style13">Welcome to Sonostream! </span></p>
				<p class="style2">You have been invited to view a live Sonostream. Please select one of the following appointments:<br />  
        </p>

				<%= render :partial => "appointments" %>

