<img src="/images/sonotheater.gif" width="673" height="62" />

<style type="text/css">
<!--
.style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
-->
</style>

<br /><br />
<span class="style11">Viewer Login </span><br />
<span class="style2">Please login with the user name provided in your invitation. Once logged in, you will be able to register to view a scheduled ultrasound LIVE or view a saved 3D/4D ultrasound stream anytime you wish! </span>
<% form_tag(:action  => :login) do %> 
<p class="style12">your email address <br />
  <%= text_field("login", "email", :value => @address) %>
</p>
<p>
  <%= submit_tag("Login to Theater") %>
  <br />
</p>
<% end %>  

<p />

