
<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

	<p><span class="style13">Purchase your sonostream</span></p>

	<p class="style2">Your Sonostream purchase is processed
		through a secure credit card processing company called <a href="http://www.usaepay.com/security.htm" target="_new">USA Epay</a>.  
		All transcations are made over a secure connection.  <br />
	<br /></p>

	<p><span class="style13">Purchase information</span></p>

	<p>  
	<table>
	 <tr>
	   <td class="style2" cellpadding="5" width=20 ><b>Purchase</b>:</td><td class="style2"><%= @description %></td>
   </tr>
   <tr>
     <td class="style2" cellpadding="5" width=20 ><b>Email</b>:</td><td class="style2"><%= @friend.email %></td>
   </tr>
	 <tr>
	   <td class="style2" cellpadding="5" width=20 ><b>Cost</b>:</td><td class="style2"><%= @price %></td>
	 </tr>
	</table>
	</p>

	<p align="center" class="style12">
		<input type="submit" name="Submit" value="Purchase Launch Sonostream LIVE" onclick="MM_goToURL('parent','<%= @form_url %>');return document.MM_returnValue"/></p>
  	<p align="center" class="style12">
  		<input type="submit" name="Submit" value="Cancel Purchase" onclick="MM_goToURL('parent','/friend/welcome/<%= @friend.id %>/<%= @apt.id %>');return document.MM_returnValue"/>
  </p>

  <p><br /></p>
	<p align="center">
	  <img src="http://www.paysimple.net/navV2/images/certificates/1.gif" />&nbsp;
	  <img src="http://www.paysimple.net/navV2/images/certificates/3.gif" />&nbsp;
	  <img src="http://www.paysimple.net/navV2/images/certificates/4.gif" />&nbsp;
	</p>
