<p><img src="/images/sonotheater.gif" width="673" height="62" />
	<%= render :partial => "friend_menu" %>
	</p>          

  <p><span class="style13">Thank you for purchasing the Sonostream! </span></p>

<p class="style2">This is where the user lands after paying for the stream.  We will
	including information from the biling system and save it off.  It will
	contain the necessary security for checking the billing information.</p>

	<p class="style2"><%= link_to "Click here to view the stream", :action => "view", :id => @friend.id, :apt_id => @apt.id, :token => @apt.token %>
		or you can return the <%= link_to "welcome page", :action => "welcome", :id => @friend.id, :apt_id => @apt.id %></p>
	
