<p><img src="/images/sonotheater.gif" width="673" height="62" />
  <%= render :partial => "friend_menu" %>
  </p>

  <p><span class="style11">View Sonostream On Demand.</span></p>

<p class="style2">You are about to view <strong><%= @apt.user.full_name %>'s</strong> Sonostream from <strong><%= @apt.full_time %></strong>.</p>

<p><br /></p>


<% if params[:viewer] == 'iphone' %>

  <p align='center' class="style12">
    <input type="submit" name="Submit" value="Launch iPhone / iPad Player"
      onclick="MM_goToURL('parent','<%= @apt.archive_url('iphone') %>');return document.MM_returnValue"/>
  </p>

<% elsif params[:viewer] == 'android' %>

  <p align='center' class="style12">
    <input type="submit" name="Submit" value="Launch Android Player"
      onclick="MM_goToURL('parent','<%= @apt.archive_url('android') %>');return document.MM_returnValue"/>
  </p>

<% else %>

  <%= render :partial => "player" %>

<% end %>

<p><br /></p>


