<p><img src="/images/sonotheater.gif" width="673" height="62" />
  <%= render :partial => "friend_menu" %>
  </p>

  <p><span class="style11">View Sonostream Live.</span></p>

<p class="style2">You are viewing a live broadcast of <strong><%= @apt.user.full_name %>'s</strong> Sonostream.</p>

<% if params[:viewer] == 'iphone' %>

  <p align='center' class="style12">
    <input type="submit" name="Submit" value="Launch iPhone / iPad Player"
      onclick="MM_goToURL('parent','<%= @apt.live_url('iphone') %>');return document.MM_returnValue"/>
  </p>

<% elsif params[:viewer] == 'android' %>

  <p align='center' class="style12">
    <input type="submit" name="Submit" value="Launch Android Player"
      onclick="MM_goToURL('parent','<%= @apt.live_url('android') %>');return document.MM_returnValue"/>
  </p>

<% else %>

  <%= render :partial => "player" %>

<% end %>


<p><br /></p>
</p>


