<style type="text/css">
<!--
.style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
-->
</style>

	<p><IMG src="/images/sonotheater.gif" width="673" height="62" /><br />
	<%= render :partial => "friend_menu" %>
	</p>

  <span class="style19">&nbsp;</span><br />
  <span class="style11">Welcome! </span><br />
  <span class="style2">You are about to experience the miracle of 3D/4D ultrasound up close and personal! </span>
  
  <%= render :partial => "application/purchase_submit" %>
 


