<style type="text/css">
	span.apt {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	span.apt.canceled {
		font-style: italic;   
	}
	span.apt.purchased {
		font-weight: bold
	}
	span.apt.today {
		font-weight: bold;
	}
</style>
<p class="style2">&nbsp;<br />
  <span class="style14"><u>Existing Sonostream Appointments</u></span><br />  
  <br />

	<% if @user.appointments.size == 0 %>
		No appointments were found for this user.
	<% else %>
		<% @user.appointments.each do |apt| %> 
			<% if @user.purchase_for(apt).try(:purchased?) %>
				<%= link_to apt.full_time, :action => "welcome", :id => @user.id, :apt_id => apt.id %>
				<span class='apt purchased'>Purchased.</span>
				<%= link_to "Download", :action => "download", :apt_id => apt.id %>
				<% if apt.today? %>
					<span class='apt today'>Today!</span>
				<% end %>
			<% elsif apt.end_time_t > Time.now %>
				<%= link_to apt.full_time, :action => "welcome", :id => @user.id, :apt_id => apt.id %>
				<span class='apt not_purchased'>Not scanned yet.</span>
				<% if apt.cancelled == 1 %>
					<span class='apt canceled'>Canceled.</span>
				<% elsif apt.today? %>
					<span class='apt today'>Today!</span>
				<% end %>
			<% elsif !apt.archive_exists? %>
				<%= apt.full_time %>
				<% if apt.cancelled == 1 %>
					<span class='apt canceled'>Canceled.</span>
				<% else %>
					<span class='apt not_purchased'>Not exist.</span>
				<% end %>
			<% else %>
				<%= link_to apt.full_time, :action => "welcome", :id => @user.id, :apt_id => apt.id %>
				<span class='apt not_purchased'>Not Purchased.</span>
			<% end %>       
			<br />
		<% end %>
		
	<% end %>
	

	<br />
	</p>

