
<p class="style2">&nbsp;<br />
  <span class="style14"><u>Current Sonostream LIVE Invitation List</u></span><br />  
  <br />

	<% if @apt.friends.count == 0 %>
	No friends have been invited to this sonostream<br />
	<% else %>
		<% @apt.friends.each do |friend| %>
			<a href="mailto:<%= friend.email %>"><%= friend.email %></a><br />
		<% end %>
	<% end %> 

	<br />
	</p>