
<% 

  user_url =      "/user/view/#{@user.id}/#{@apt.id}"
  web_viewer =      user_url + "?viewer=web"
  iphone_viewer =   user_url + "?viewer=iphone"
  android_viewer =  user_url + "?viewer=android"
%>

<p>
  <strong><%= @apt.user.full_name %>'s</strong> ultrasound is scheduled for 
  <strong><%= @apt.date %></strong> at <strong><%= @apt.start_time %>.</strong>
</p>

<p>
  <span class='style11'>Please select the correct player for your system:</span>
</p>


<p align='center' class="style12">

	<input type="submit" name="Submit" value="Launch Web Player"  
    onclick="MM_goToURL('parent','<%=web_viewer%>');return document.MM_returnValue"/>

  <input type="submit" name="Submit" value="Launch iPhone / iPad Player"  
    onclick="MM_goToURL('parent','<%=iphone_viewer%>');return document.MM_returnValue"/>

  <input type="submit" name="Submit" value="Launch Android Player"  
    onclick="MM_goToURL('parent','<%=android_viewer%>');return document.MM_returnValue"/>

</p>

