
<p><img src="/images/mommyzone.gif" width="675" height="45" />
	<%= render :partial => "user_menu" %>
	</p>          

<p><span class="style13">Edit your profile, <%= @user.first_name %>! </span></p>
<p />
<% form_tag :action => "update_profile", :id => @user.id do %>
	<% if @user.errors.any? %>
    <% @user.errors.each do |attr, msg| %> 
      <%= "#{attr.capitalize} #{msg}" %> <br/>
    <% end %>
  <% end %>
<table>
	<tr>
		<td align="left"><span class="style2">First Name: </span></td>
		<td><%= text_field "user", "first_name", :size => 40, :maxlength => "20" %></td>
	</tr>
	<tr>
		<td align="left"><span class="style2">Last Name: </span></td>
		<td><%= text_field "user", "last_name", :size => 40, :maxlength => "20" %></td>
	</tr>
	<tr>
		<td align="left"><span class="style2">Email: </span></td>
		<td><%= text_field "user", "email", :size => 40, :maxlength => "128" %></td>
	</tr>
	<tr>
		<td align="left"><span class="style2">Password: </span></td>
		<td><%= password_field "user", "password", :size => 40, :maxlength => "20" %></td>
	</tr>
	<tr>
		<td align="left">&nbsp;</td>
		<td><input type="submit" name="Submit2" value="Submit" /></td>
	</tr>
</table>
<p />
<% end %>
<span class="style2"><%= link_to "Cancel", :action => "profile", :id => @user.id %></span>
<br />


     
