<p><img src="/images/mommyzone.gif" width="675" height="45" />
	<%= render :partial => "user_menu" %>
	</p>
	        <p><span class="style13">Your SonostreamLive has expired</span></p>
        <p class="style2">Your appointment on <b><%= @apt.full_time %></b> at <%= @apt.user.affiliate.name %> has expired.  It took place <%= @days_ago %> days ago.</p>
        <p class="style2">We are unable to invite anyone to view your Sonostream Live<br /></p>



