
<p><img src="/images/mommyzone.gif" width="675" height="45" />
	<%= render :partial => "user_menu" %>
	</p>          
        <p><span class="style13">Welcome, <%= @user.full_name %>! </span></p>
        <p class="style2">Please select one of the following appointments below.  This will allow you to invite friends and family to view your ultrasound.<br />  
            <br />
        </p>
        
	<%= render :partial => "appointments" %>
        
					

              
