<p><img src="/images/mommyzone.gif" width="675" height="45" /></p>          
        <p><span class="style13">Invite your friends</span></p>
        <p class="style2">Please add your friend's email addresses below.  We will send them an invitation to view your sonostream.<br />  
	        <p class="style2">If you want to <b>resend</b> an invitation, just enter the email address again, and we will resend it.<br />  
            <br />
        </p>

				<% form_tag :action => "update_invite", :id => @user.id, :apt_id => @apt.id do %>
					<%= error_messages_for "friend" %>
					<p class="style12">email address<br />
					<%= text_field("friend", "email" ) %></p>
					<input id="mySubmit" type="submit" name="Submit" value="Submit" onClick='document.getElementById("mySubmit").value="Submitting.  Please wait..."'/> 
				<% end %>

        <%= render :partial => "invited" %>


