<img src="/images/mommyzone.gif" width="675" height="45" /><span class="style11">Profile Login</span><br />
<span class="style2">Please login with the user name and password you were assigned. Once logged in you will be able to invite friends and family to view your ultrasound and update your contact information.</span>

<% form_tag(:action => :login) do %> 
  <p class="style12">email address<br />
    <%= text_field("user", "email", :value => @address) %></p>
  <p class="style12">password<br />
    <%= password_field("user", "password") %></p>
  <p>
    <%= submit_tag("Verify") %><br /></p>
<% end %>  

<p />               

<p><span class="style12"><span class="style18">Forgot your password?</span><br /></span> <span class="style2 style15">Please click <%= link_to "this link", :action => "forgot_password" %>, fill out your email address, and your password will be emailed to you immediately.</span></span></p>

