<p><img src="/images/mommyzone.gif" width="675" height="45" />
	<%= render :partial => "user_menu" %>
	</p>          

<p><span class="style13">Your profile, <%= @user.full_name %>! </span></p>
<p />
<span class="style2">Name: <%= @user.full_name %><br />
Email: <%= @user.email %><br />                        
</span>
<p />
<span class="style2"><%= link_to "Edit your profile", :action => "edit_profile", :id => @user.id %></span>
<br />
