	<p><img src="/images/mommyzone.gif" width="675" height="45" />
		<%= render :partial => "user_menu" %>
		</p>          
          <p><span class="style13">Welcome, <%= @user.full_name %>! </span></p>
          <% tense = (@apt.past?) ? "took" : "will take" %>
          <p class="style2">Your 3D/4D Ultrasound <%= tense %> place at <b><%= display_apt_date(@apt) %></b> at <%= @apt.user.affiliate.name %><br />  
              <br />
          </p>
          <p class="word">
          
          <%= render :partial => "invited" %>
						
          <p class="style2">Please <%= link_to "click here", :action => "invite", :id => @user.id, :apt_id => @apt.id %> to invite others.</p>
          
          <% if @apt.archive_exists? %>
          <%= render :partial => "application/purchase_submit" %>
          <% end %>
