<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
.cnr {
width: 100%;
height: 120px;
background: #6c8bc7;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.style2 {font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 14px; color: #000000; }
-->
</style>
</head>

<body>
<table cellpadding="0" width="95%" align="center" class="cnr">
  <tr>
    <td colspan="2" bgcolor="#3399FF" style="padding:10px;"><h1 align="left" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-size: 28px; font-style: italic; color: #FFFFFF"><img src="http://www.sonostreamlive.net/assets/images/sononetlogo.png" width="219" height="62" /><br />
      <br />
        The ultrasound session for <%= @user.first_name %> has been cancelled by the user.</h1>
  <table cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
            <td bgcolor="#FFFFCC" style="background-color:#FFF; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 25px; padding:10px; border: 1px solid #c0bb7c"><p>&nbsp;</p>
              <p>We wanted to let you know that the 3D/4D Ultrasound scheduled for <%= @user.first_name %> has been cancelled. If you've already established your Sonostream Theater account and made payment please contact us for a refund of the charges by visiting our <a href="http://sonostreamlive.zendesk.com">support website</a>. </p>
              <p>Cancellation Confirmation - The following appointment has been cancelled</p>
              <p>Date: <%= @apt.date %> <br />
                Time: <%= @apt.start_time %></p>
              <p>Should the appointment be rescheduled we will notify you with another invitation email. Thank you for your interest in Sonostream LIVE!<br />
              </p>
              <p>You can also <a href="<%= @site_url %>">visit us online </a> for additional information on Sonostream LIVE technology and frequently asked questions.</p>
              <p><br />
              Best Regards,</p>
              <p>The SonostreamLive.net Team<br />
                </p>
              <p><a href="<%= "#{@site_url}/friend/canceled_appointment/#{@friend.id}/#{@apt.id}" %>" target="_blank">Having trouble viewing this email? Click here to view it online. </a></p></td>
            <td>&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
