<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
.cnr {
width: 100%;
height: 120px;
background: #6c8bc7;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.style2 {font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 14px; color: #000000; }
-->
</style>
</head>

<body>
<table cellpadding="0" width="95%" align="center" class="cnr">
  <tr>
    <td colspan="2" bgcolor="#3399FF" style="padding:10px;"><h1 align="left" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-size: 28px; font-style: italic; color: #FFFFFF"><img src="http://www.sonostreamlive.net/assets/images/sononetlogo.png" width="219" height="62" /><br />
      <br />
        You have been invited to <%= @user.first_name %>'s upcoming ultrasound session</h1>
  <table cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
            <td bgcolor="#FFFFCC" style="background-color:#FFF; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 25px; padding:10px; border: 1px solid #c0bb7c"><p class="style2"><br />
              Hi,<br />
              </p>
              <p class="style2"><%= @user.first_name %> has invited you to be a part of her upcoming 3D/4D ultrasound!<br />
              </p>
              <p>Thanks to our <strong><em>Sonostream LIVE technology</em></strong>, you  can now experience the sights and sounds of  <%= @user.first_name %>'s ultrasound session  both live (during the exam) as well as on-demand (after the exam). Our live streaming technology allows you to easily watch the live or on demand stream of the ultrasound screen throughout the session on your computer, iphone, ipad or android device.</p>
              <h2 class="style5 style1">Imagine.. </h2>
<ul>
                  <li> Sharing in the joy of meeting the baby for the first time during the live 3D/4D ultrasound session</li>
                  <li>Being able to see the new baby's face or fingers or toes or maybe even a smile</li>
                  <li>Sharing the discovery of the gender with friends and family live over the internet</li>
                </ul>
                <p>This is a once in a lifetime event...and you have been personally invited to attend. <br />
                </p>
                <h2 class="style5 style1">How do I take advantage of Sonostream? </h2>                
                <p>Your email address is all you need to access Sonostream.  Simply <a href="<%= "#{@site_url}/friend/confirm/#{@apt.id}/#{@friend.confirmation_code}" %>" >click here to login to Sonostream LIVE</a> and you'll be able to set up your account!<br />
                  <br />
                  Once your account is established you will be charged a small one time fee of $12.95, you'll be notified of the date and time of the LIVE ultrasound in case you want to view it as its happening in real-time. You'll also have access to the recorded ultrasound stream on-demand so that you can watch it at a later date and as many times as you like.              </p>
                <h2 class="style1">Don't miss out on this once in a lifetime invitation! </h2>
                <p class="style2"><span class="style2">                Should you have any questions or need assistance, please contact the Sonostream LIVE team direct at <a href="mailto:support@sonostreamlive.net"><strong>support@sonostreamlive.net</strong></a>.</span><br />
              </p>
              <p>You can also <a href="<%= @site_url %>">visit us online </a> for additional information on Sonostream LIVE technology and frequently asked questions.</p>
              <p><br />
              Best Regards,</p>
              <p>The SonostreamLive.net Team<br />
                </p>
              <p><a href="<%= "#{@site_url}/friend/invite_friend/#{@apt.id}/#{@friend.confirmation_code}" %>" target="_blank">Having trouble viewing this email? Click here to view it online. </a></p></td>
            <td>&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
