<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
.style3 {font-style: italic}
.style4 {
	font-size: 12px;
	font-style: italic;
	color: #FF0000;
}
.cnr {
width: 100%;
height: 120px;
background: #6c8bc7;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
-->
</style>
</head>

<body>
<table cellpadding="0" width="95%" align="center" class="cnr">
  <tr>
    <td colspan="2" bgcolor="#3399FF" style="padding:10px;"><h1 align="left" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-size: 28px; font-style: italic; color: #FFFFFF"><img src="http://www.sonostreamlive.net/assets/images/sononetlogo.png" width="219" height="62" /><br />
        <br />      
        Congratulations on your upcoming 3D/4D Ultrasound! </h1>
        <table cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
            <td bgcolor="#FFFFCC" style="background-color:#FFF; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 25px; padding:10px; border: 1px solid #c0bb7c"><p class="style2"><br />
              Hi <%= @user.first_name %>,<br />
              </p>
              <p class="style2">Now that your ultrasound appointment is confirmed, we'd like to introduce you to a wonderful new technology that allows you to share your 3D/4D Ultrasound session LIVE with friends and family...across town or across the country! Even across the globe!<span class="style4"></span></p>
                <p>Thanks to our <strong><em>Sonostream LIVE technology</em></strong>, your friends and family can now experience the sights and sounds of your ultrasound session with you, both live (during the exam) as well as on-demand (after the exam). Our live streaming technology allows you to invite anyone you select to privately access and view a live video stream of the ultrasound screen during your ultrasound.</p>
                <p>Best of all, it's only a small one time  charge of 12.95 to the friends and family who choose to get it!</p>
                <h2 class="style5">Imagine.. </h2>
                <ul>
                  <li> Your parents or grandparents being able to sit at their computer, ipad, iphone or android device and share in your ultrasound experience with you as if they were in the room too!</li>
                  <li> Imagine your husband who is deployed in Iraq being able to experience the ultrasound right there with you and to be able to hear your voice as you both see the baby for the first time...TOGETHER! </li>
                  <li>Sharing the discovery of the gender with friends and family live over the internet</li>
                </ul>
                <p>This is a once in a lifetime event...and now you can &quot;virtually&quot; bring anyone in the world with you to your ultrasound session. Click here for more information. <br />
                  <br />
                </p>
                <h2><span class="style5">How do I take advantage of Sonostream? </span></h2>
                <p>                  You can access your Mommy Zone using your email address and the password, provided below. </p>
                <p>Simply <a href="<%= "#{@site_url}/user/confirm/#{@apt.confirmation_code}" %>">click here to login</a> to Sonostream LIVE and you'll have immediate access!</p>
                <p>Once logged in, you can invite people to your Sonostream and we'll take care of the rest!<br />
                </p>
                <p><br />
                  <strong>Your Password:</strong> <%= h @user.password %></p>
                <p class="style2"><span class="style2"><br />
                Should you have any questions or need assistance, please contact the Sonostream LIVE team direct at <a href="mailto:support@sonostreamlive.net"><strong>support@sonostreamlive.net</strong></a>.</span> or speak to your ultrasound provider.<br />
                </p>
              <p>You can also <a href="<%= @site_url %>">visit us online </a> for additional information on Sonostream LIVE technology and frequently asked questions.</p>
              <p><br />
              Best Regards,</p>
              <p>The SonostreamLive.net Team<br />
                </p>
              <p><a href="<%= "#{@site_url}/user/invite_mom/#{@apt.confirmation_code}" %>" >Having trouble viewing this email? Click here to view it online. </a></p></td>
            <td>&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
