<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sonostreamlive.net Notification</title>
<style type="text/css">
<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
.style3 {font-style: italic}
.style4 {
	font-size: 12px;
	font-style: italic;
	color: #FF0000;
}
.cnr {
width: 100%;
height: 120px;
background: #6c8bc7;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
-->
</style>
</head>

<body>
<table cellpadding="0" width="95%" align="center" class="cnr">
  <tr>
    <td colspan="2" bgcolor="#3399FF" style="padding:10px;"><h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-size: 28px; font-style: italic; color: #FFFFFF"><img src="http://www.sonostreamlive.net/assets/images/sononetlogo.png" alt="" width="219" height="62" /><br />
      <br />
A Digital Version of your ultrasound video is now available...</h1>
  <table cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
            <td bgcolor="#FFFFCC" style="background-color:#FFF; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 25px; padding:10px; border: 1px solid #c0bb7c"><p class="style2">Hi <%= @user.first_name %>,
              </p>
              <p class="style2">Now that your recent ultrasound appointment is finished, we'd like to invite you to get a digital copy of your Ultrasound for viewing on your computer, tablet or smart phone. </p>
              <p class="style2">For a limited time*, we are making this digital video of your ultrasound available directly to you. <br />
              </p>
              <p class="style2">              <span class="style4">*All digital videos that are not purchased are removed permanently from our servers 7 days after the  ultrasound.</span><br />
                                          </p>
              <h2 class="style1"> With this digital version you can:</h2>
                <ul>
                  <li>Store and watch your complete ultrasound on your iphone, android phone, ipad, android tablet or computer and share it with family and friends</li>
                <li>Post your video directly to your social media profiles for all to enjoy</li>
                <li>Keep a permanent record of your ultrasound with a digital copied stored on our servers and your computer</li>
                <li>Edit your digital video and create your own masterpiece <span class="style3">( your own software and skills required )</span></li>
                <li>The options are limited only by your imagination</li>
              </ul>
              <p class="style2">Thanks to our Sonostream ON DEMAND technology,  you can now experience the sights and sounds of your ultrasound session again and again.</p>
              <h2><span class="style6 style1">I'd Love it.  How do I get it? </span></h2>
              <span class="style2">Simply <a href="<%= "#{@site_url}/user/purchase/#{@apt.user.id}/#{@apt.id}" %>" ><strong>click here to go to Sonostream LIVE</strong></a> and </span><span class="style2">If you decide to buy, you will be incur a small one time fee of 12.95.</span>
              <p><span class="style2"> This will give you access to the recorded ultrasound stream on-demand so that you can stream it anytime and as many times as you like from your computer or other compatible device.</span></p>
              <p>You can also download the video file  for import via itunes or copying to your android device.</p>
              <p>&nbsp;</p>
              <p><span class="style2">Should you have any questions or need assistance, please contact the Sonostream LIVE team direct at <a href="mailto:support@sonostreamlive.net"><strong>support@sonostreamlive.net</strong></a>.</span> or speak to your ultrasound provider.<br />
              </p>
              <p>Best Regards,</p>
            <p>The SonostreamLive.net Team<br />
            </p>
            <p><a href="<%= "#{@site_url}/user/purchase_mom/#{@apt.id}" %>" >Having trouble viewing this email? Click here to view it online. </a></p></td>
            <td>&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
