<html>
<head>
<style type="text/css">
<!--
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.style2 {font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 14px; color: #000000; }
.style4 {font-size: 10px; font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;}
.style6 {font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 14px; color: #000000; font-weight: bold; }
.style5 {font-family: Georgia, Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 18px; color: #FFFFCC; font-weight: bold; }
-->
</style></head>

<body>
<table width="580" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#EAFFD5">
  <!--DWLayoutTable-->
  <% if @skip_site_link.nil? %>
  <tr>
    <td height="26" colspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <!--DWLayoutTable-->
      <tr>
        <td width="580" height="26" align="center" valign="middle"><div align="center" class="style4"><a href="<%= "#{@site_url}/user/purchase_mom/#{@apt.id}" %>" >Having trouble viewing this email? Click here to view it online. </a></div></td>
        </tr>
    </table></td>
  </tr>
  <% end %>
  <tr>
    <td height="46" colspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#114b6b">
      <!--DWLayoutTable-->
      <tr>
        <td width="580" height="46" align="center" valign="middle"><div align="center"><span class="style5">There is a digital copy of your Ultrasound available for you for computer or smartphone! </span></div></td>
      </tr>
    </table>    </td>
  </tr>
  <tr>
    <td width="21" height="16"></td>
    <td width="300"></td>
    <td width="21"></td>
    <td width="217"></td>
    <td width="24"></td>
  </tr>
  <tr>
    <td height="48"></td>
    <td colspan="3" valign="top"><table width="534" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      
      <tr>
        <td width="534" height="48" valign="top"><p class="style2">Now that your appointment is finished, we'd like to invite you to get a digital copy of your Ultrasound for viewing on your computer or smart phone.</p></td>
        </tr>
      
      
      
      
    </table></td>
    <td></td>
  </tr>
  <tr>
    <td height="17"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
  <tr>
    <td height="81" colspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td width="580" height="81" valign="top"><img src="http://www.sonostreamlive.net/images/slemailmast.gif" width="580" height="81" /></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="18"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="179"></td>
    <td colspan="3" valign="top"><table width="534" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td width="534" height="123" valign="top"><p class="style2">Thanks to our Sonostream ON DEMAND technology,  you can now experience the sights and sounds of your ultrasound session again and again.</p>
            <p class="style2"><strong>An experience you'll always treasure! </strong><br />
              <br />
            From the convenience of your computer, iPhone, iPad, or Android smart phone, you will be able to view
            your Ultrasound video ON DEMAND from anywhere.  With this mobile technology, you can take your Ultrasound
            anywhere you go</p>          </td>
          <td width="4"></td>
        </tr>
    </table></td>
    <td></td>
  </tr>
  <tr>
    <td height="28"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td height="324"></td>
    <td valign="top"><table width="300" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td width="300" height="320" valign="top"><p><span class="style6">I'd Love it.  How do I get it? <br />
          </span><span class="style2">Simply <a href="<%= "#{@site_url}/user/purchase/#{@apt.user.id}/#{@apt.id}" %>" >click here to go to Sonostream LIVE</a> and you'll be able to purchase your Ultrasound!</span></p>
            <p><span class="style2">If you decide to buy, you will be charged a small one time fee of $12.95.  This will give you access to the recorded ultrasound stream on-demand so that you can watch it at a later date and as many times as you like from your computer or smart phone. </span></p>
            <p><span class="style2"> Should you have any questions or need assistance, please contact the Sonostream LIVE team direct at <a href="mailto:help@sonostreamlive.com">help@sonostreamlive.com</a>.</span></p>          </td>
        </tr>
    </table></td>
    <td>&nbsp;</td>
    <td valign="top"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#104B6B">
      <!--DWLayoutTable-->
      
      <tr>
        <td width="213" height="320" align="center" valign="middle"><a href="<%= @site_url %>" target="_blank"><img src="http://www.sonostreamlive.net/images/emailinvites.jpg" width="213" height="320" border="0" /></a></td>
        </tr>
      
      
      
      
      
      
    </table></td>
    <td></td>
  </tr>
  
  <tr>
    <td height="25">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr>
    <td height="20" colspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#B23676">
      <!--DWLayoutTable-->
      <tr>
        <td width="580" height="20">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>

