<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.style1 {font-family: Georgia, "Times New Roman", Times, serif}
.cnr {
width: 100%;
height: 120px;
background: #6c8bc7;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.style2 {font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 14px; color: #000000; }
-->
</style>
</head>

<body>
<table cellpadding="0" width="95%" align="center" class="cnr">
  <tr>
    <td colspan="2" bgcolor="#3399FF" style="padding:10px;"><h1 align="left" style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight:normal; font-size: 28px; font-style: italic; color: #FFFFFF"><img src="http://www.sonostreamlive.net/assets/images/sononetlogo.png" width="219" height="62" /><br />
      <br />
        The ultrasound session for <%= @user.first_name %> has been rescheduled.</h1>
      <table cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
            <td bgcolor="#FFFFCC" style="background-color:#FFF; font-family: Verdana, Geneva, sans-serif; font-size: 14px; line-height: 25px; padding:10px; border: 1px solid #c0bb7c"><p>Hi,</p>
              <p>We wanted to let you know that the 3D/4D Ultrasound scheduled for <%= @user.first_name %> has been reschduled. If you've already established your Sonostream Theater account, please note that nothing will change except the date/time of the ultrasound session. </p>
              <p>Reschedule Confirmation - The following appointment has been rescheduled</p>
              <p>Name:<%= @user.full_name %><br />
                Date: <%= @apt.date %> <br />
              Time: <%= @apt.start_time %></p>
              <p><span class="style6">Not Yet Registered? <br />
	          </span><span class="style2">Simply <a href="<%= "#{@site_url}/friend/confirm/#{@apt.id}/#{@friend.confirmation_code}" %>" target="_blank">click here to login to Sonostream LIVE</a> and you'll be able to set up your account!</span>
              <p><span class="style2">Once your account is established, you'll be notified of the date and time of the LIVE ultrasound in case you want to view it as its happening in real-time. You'll also have access to the recorded ultrasound stream on-demand so that you can watch it at a later date. </span></p>
              <p><span class="style2"> Should you have any questions or need assistance, please contact the Sonostream LIVE team direct at <a href="mailto:support@sonostreamlive.net">support@sonostreamlive.net</a>.</span></p>         
              </p>
              You can also <a href="<%= @site_url %>">visit us online </a> for additional information on Sonostream LIVE technology and frequently asked questions.
              <p><br />
              Best Regards,</p>
              <p>The SonostreamLive.net Team<br />
              </p>
              <p><a href="<%= "#{@site_url}/friend/rescheduled_appointment/#{@friend.id}/#{@apt.id}" %>" target="_blank">Having trouble viewing this email? Click here to view it online. </a>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td>&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
