<html>
<head>

<title>Sonostream</title>
<%= stylesheet_link_tag 'scaffold' %>
<%= stylesheet_link_tag 'rounded' %>

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
doink
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td><img src="/images/clearpixel.gif" width="1" height="4"></td>
  </tr>
</table>
<p />
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
		<% #################### insert content here %>
		<%= display_information_box %>
		<%= @content_for_layout %>
	</td>
  </tr>
</table>   
<p />

</body>
</html>
