<!DOCTYPE html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<head>
	<% if @controller.action_name.eql? "view" %>
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<% end %>

	<title>Sonostream LIVE! 3D/4D Ultrasound Streaming</title>
	<%= stylesheet_link_tag 'rounded' %>
<!--	<%= stylesheet_link_tag 'sonostream' %> -->
	<%= stylesheet_link_tag 'error' %>
	<%= stylesheet_link_tag 'admin' %>
<script type="text/JavaScript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>
	
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Sonostream LIVE!</title>
    <meta name="description" content="">
    <meta name="author" content="Sonostream">
    
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <link rel="stylesheet" href="/assets/css/color.css">
    <link rel="stylesheet" href="/assets/css/color1.css">
    
    <!-- autumn skin -->
    <!-- <link rel="stylesheet" href="/assets/css/autumn/color.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/autumn/color1.css"> -->
    
    <!-- violet skin -->
    <!-- <link rel="stylesheet" href="/assets/css/violet/color.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/violet/color1.css"> -->
    
    <link rel="stylesheet" href="/assets/css/button-colors.css">
    <link rel="stylesheet" href="/assets/css/background.css"> 
    
	
<!--	<script type='text/javascript' src='/jw6/jwplayer.js'></script>
	<script>jwplayer.key="EW91w2RJyc+TVcHCySOrG3vItydhAjS35dAIdQ=="</script>-->

    <script type='text/javascript' src='/jw7/jwplayer.js'></script>
	<script>jwplayer.key="ViwTskzZSE94kwPX/4HtaKXn3NCGofP24qT1GQ=="</script> 
    
    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    
    <!-- jquery UI -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqueryui.function.js"></script>
    <!-- jquery UI END-->
    
	<!-- layerslider 2.0 -->
    <link rel="stylesheet" href="/assets/layerslider-2.0/layerslider/css/layerslider.css" type="text/css">
	<script src="/assets/layerslider-2.0/layerslider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
	<script src="/assets/layerslider-2.0/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="/assets/layerslider-2.0/layerslider/js/layerslider.function.js"></script>
    <!-- layerslider 2.0 END-->
    
    <!-- nivoslider -->
    <link rel="stylesheet" href="/assets/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/nivo-slider-theme.css"/>
    <link rel="stylesheet" href="/assets/nivo-slider/themes/456theme/456theme.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/assets/nivo-slider/nivo.slider.function.js"></script>
    <!-- nivoslider END-->

    <!-- superfish -->
    <link rel="stylesheet" type="text/css" href="/assets/superfish-1.4.8/css/superfish.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/superfish-theme.css" media="screen">
	<script type="text/javascript" src="/assets/superfish-1.4.8/js/hoverIntent.js"></script>
	<script type="text/javascript" src="/assets/superfish-1.4.8/js/superfish.js"></script>
	<script type="text/javascript" src="/assets/js/superfish.function.js"></script>
    <!-- superfish END-->
    
    <!-- HoverAlls -->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/hoveralls/css/hoveralls.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/hoveralls-theme.css"/>
    <script type="text/javascript" src="/assets/hoveralls/js/jquery.easing.1.3.min.js"></script>
    <script type="text/javascript" src="/assets/hoveralls/js/jquery.hoveralls.min.js"></script>
    <script type="text/javascript" src="/assets/hoveralls/js/jquery.hoveralls-functions.js"></script>
    <!-- HoverAlls END-->
    
    <!-- isotope -->
	<script type="text/javascript" src="/assets/isotope/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/assets/isotope/isotope.function.js"></script>
    <link rel="stylesheet" href="/assets/isotope/css/style.css">
    <!-- isotope END-->
    
    <!-- prettyPhoto-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/prettyPhoto/prettyPhoto.css"/>
    <script type="text/javascript" language="javascript" src="/assets/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" language="javascript" src="/assets/prettyPhoto/prettyPhoto.function.js"></script>
    <!-- prettyPhoto END-->
    
    <!-- Showbiz-->	
	<script type="text/javascript" src="/assets/showbiz/services-plugin/js/jquery.easing.1.3.js"></script>	
	<script type="text/javascript" src="/assets/showbiz/services-plugin/js/jquery.cssAnimate.mini.js"></script>	
	<script type="text/javascript" src="/assets/showbiz/services-plugin/js/jquery.touchwipe.min.js"></script>	
	<script type="text/javascript" src="/assets/showbiz/services-plugin/js/jquery.mousewheel.min.js"></script>	
    <script type="text/javascript" src="/assets/showbiz/services-plugin/js/jquery.themepunch.services.js"></script>
    <script type="text/javascript" src="/assets/showbiz/services-plugin/js/showbiz.function.js"></script>	
	<link rel="stylesheet" type="text/css" href="/assets/showbiz/services-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/css/showbiz-theme.css" media="screen">
    <!-- Showbiz END-->
    
    <!-- widget js -->
	<script type="text/javascript" src="/assets/js/widget.function.js"></script>
    <!-- widget js END-->
    
    <!-- blog js -->
	<script type="text/javascript" src="/assets/js/blog.function.js"></script>
    <!-- blog js END-->
    
    <!-- animate shadow js -->
    <script type="text/javascript" src="/assets/js/jquery.animate-shadow-min.js"></script>
    <script type="text/javascript" src="/assets/js/animate-shadow.function.js"></script>
    <!-- animate shadow END-->
    
    <!-- seaofclouds js -->
    <script type="text/javascript" src="/assets/seaofclouds/jquery.tweet.js"></script> 
	<script type="text/javascript" src="/assets/seaofclouds/twitter.function.js"></script>
    <!-- seaofclouds js END-->
 
    <!-- responsive iframe js -->
	<script type="text/javascript" src="/assets/js/iframe.function.js"></script>
    <!-- responsive iframe js END-->
    
    <!-- social icons js -->
	<script type="text/javascript" src="/assets/js/social.function.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.animate-colors-min.js"></script>
    <!-- social icons END-->
    
    <!-- mobile navi js -->
    <script src="/assets/js/navigation.function.js"></script>
    <!-- mobile navi END-->
    
    <!-- callout js -->
    <script src="/assets/js/callout.function.js"></script>
    <!-- callout js END-->
    
    <!-- grayscale js -->
    <script src="/assets/js/grayscale.function.js"></script>
    <!-- grayscale js END-->
    
    <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>

    <div id="wrap">
        <div id="header-bg"></div>
        <div id="header" class="container">
            <div class="ten columns">
                <div id="logo" class="clearfix">
                    <h1><a href="index.html"><img alt="alt" src="/assets/images/sononetlogo.png"/> </a></h1>
                    <h5 class="topPad">Share Your 3D/4D Ultrasound Anywhere in the World!</h5>
                </div>
            </div>
            <div class="six columns">
                
            </div>
        </div>
        <div id="main">
            <div id="navi" class="display_style">
                <div class="container">
                    <div class="sixteen columns">
                        <ul class="navi light_shadow sf-menu">
                            <li><a href="/index.html"><strong>Home</strong></a></li>
                            <li><a href="/user/login"><strong>Mommy Login</strong></a></li>
                            <li><a href="/friend/login"><strong>Guest Login</strong></a></li>
							<li><a href="/sonostream.html"><strong>What is Sonostream?</strong></a></li>
                            <li><a href="/locations.html"><strong>Sonostream Locations</strong></a></li>
							<li><a href="https://sonostreamlive.zendesk.com/home" ><strong>Customer Service</strong></a></li>
                            
                        </ul>
                        <div class="mobileNavi_wrap"></div>
                    </div>
                    
                </div>
            </div>
            <!--<div id="subHeader" class="headerImage" style="background-image: url(images/980x126-blur_photodune-1568277-road-m.jpg);">-->
            <!--<div id="subHeader">-->
			
			<div id="subHeader" class="headerImage" style="background-image: url(/assets/images/blue_bg2.jpg);">
            	<div class="container">
            		<div class="header light_shadow sixteen columns">
            			<h2 class="remove-bottom">Sonostream LIVE! Player</h2>
            			<h5 class="remove-bottom">Watch your video below</h5>
            		</div>
                </div>                
            </div>
			
			
			<div id="page" class="clearfix">
            
                	<div class="container">
                		<div class="twelve columns  offset-by-two">
                            <div >
							<p><%= display_information_box %> <%= @content_for_layout %></p>
													
                            </div>
                         </div>   
					</div>
					
                
            </div>   
			
			
			
			
            
                          
            <div id="footer">
                <div class="footer">
                    <div class="container">
                        <div class="eight columns">
                            <div class="widget contact-widget">
                                <h4>Support</h4>
                                <p>Having trouble viewing?? Try updating your Adobe Flash Player by <a href=https://get.adobe.com/flashplayer/ target=_flash>clicking HERE</a></p>
                                <p>If you need technical assistance, please visit our <a href="https://sonostreamlive.zendesk.com/anonymous_requests/new">customer service page</a> for more answers.</p>
                                
                            </div>
                        </div>
                        <div class="eight columns">
                            <div class="widget contact-widget">
                                <h4>Billing Queries</h4>
                                <p>If you need billing assistance, please visit our <a href="https://sonostreamlive.zendesk.com/anonymous_requests/new">customer service page</a> for more answers.</p>
                                
                            </div>
                        </div>
                		
                    </div>
                </div>
            </div>
        </div>
        <div id="subFooter">
            <div class="container">
                <div id="copyright" class="sixteen columns light_shadow">Copyright &copy; 2017 <a href="http://www.sonostreamlive.net">Sonostream LIVE!</a></div>
                
            </div>
        </div>       
    </div>


<!-- End Document
================================================== -->
</body>
</html>
